// Variables

// Colors
$dark-background: #1f2937;
$blue: #3882F6;
$main-text-color: #f9faf8;
$sec-text-color: #e5e7eb; // also for quote
$info-text-color: #1f2937;

// Font-size
$fs-hero-main-text: 3rem;
$fs-sec-text: 1.2rem;
$fs-header-logo: 1.5rem;
$fs-info-text: 2.2rem; // also for quote

// Padding 
$padding: 6.5rem;

//Font-weight
$fw-bolder: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  grid-template-columns: 25% 1fr 50%;
  align-items: center;
  
  height: 5rem;
  background-color: $dark-background;
  padding: 0 $padding;
  position: fixed;
  width: 100%;
  
  h1 {
    grid-column: 1;
    justify-self: flex-start;

    font-size: $fs-header-logo;
    color: $main-text-color;
  }

  nav {
    grid-column: 3;
    justify-self: flex-end;

    ul {
      display: flex;
      gap: 1rem;

      li {
        list-style-type: none;
        color: $sec-text-color;
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  height: 45vh;
  background-color: $dark-background;
  padding: 0 $padding;
  margin-top: 5rem;

  .hero-text {
    grid-column: 1;

    h1 {
      font-size: $fs-hero-main-text;
      font-weight: $fw-bolder;
      color: $main-text-color;
    }

    p {
      color: $sec-text-color

    }

    button {
      margin-top: 0.5rem;
      padding: 0.2rem 1.4rem 0.2rem 1.4rem;
      background-color: $blue;
      border: none;
      border-radius: .5rem;
      color: $main-text-color;
    }
  }

  .image-placeholder {
    grid-column: 2;
    justify-self: flex-end;

    background-color: gray;
    color: $sec-text-color;
    padding: 4.5rem;
  }
}

.random-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 55vh;
  
  h1 {
    font-size: $fs-info-text;
    font-weight: $fw-bolder;
    color: $info-text-color;

    margin-bottom: 2rem;
  }

  .random-images {
    display: flex;
    padding: 0 $padding;
    text-align: center;

    .random-image {

      margin: 0 1rem 0 1rem;

      height: 13.5rem;
      width: 10rem;

      div {
        border: 5px solid $blue;
        height: 10rem;
        width: 10rem;
        border-radius: 2rem;
      }

      p {
       margin-top: .5rem;
      }

    }
  }

}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 45vh;
  background-color: $sec-text-color;
  padding: 0 $padding;

  .quote {
    font-size: $fs-info-text;
    font-weight: light;
    font-style: italic;
    color: $info-text-color;
  }

  .quote-author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 1.5rem;
  }
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $padding;

  height: 35vh;

  .action-container {

    display: grid;
    grid-template-columns: 1fr 15%;

    background-color: $blue;
    width: 100%;
    padding: 3rem 3rem;
    border-radius: 0.5rem;
    color: $main-text-color;

    .action-text {
      align-self: center;
    }

    button {
      margin-top: 0.5rem;
      padding: 0.2rem 1.4rem 0.2rem 1.4rem;
      background-color: $blue;
      border: none;
      border-radius: .5rem;
      color: $main-text-color;
      border: 2px solid white;
    }

  }
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: $dark-background;
  height: 5rem;
  color: $sec-text-color;
}
